@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body{
	height: 100vh;
	background: linear-gradient(0deg, rgba(204,146,255,1) 0%, rgba(255,51,163,0.4) 100%);
	text-align: center;
}

h1{
	padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 70px;
}


body *{
	font-family: "Permanent Marker", sans-serif;
}

.win_msg, .lost_msg{
	color: white;
	font-size: 40px;
	padding: 20px 0;
}

.lost_msg{
	color: black;
}

#play_new_game{
	margin-top: 40px;
	background: transparent;
	color: white;
	font-size: 30px;
	border: 5px double white;
	padding: 10px 20px;	
}


#current_word span{
	font-size: 40px;
	border-bottom: 3px solid white;
	margin: 0 5px;
	padding: 5px 20px;
	color: white;
}
#current_word span.notfinded{
	color: rgba(255,255,255,0.3);
}
#current_word span.lost{
	color: red;
}


#life{
	margin-top: 50px;
}

#life .heart {
	background-color: white;
	display: inline-block;
	height: 20px;
	margin: 0 10px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 20px;
}

#life .heart:before,
#life .heart:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	width: 20px;
}

#life .heart:before {
	top: -10px;
	left: 0;
}

#life .heart:after {
	left: 10px;
	top: 0;
}

#life .heart.empty {
	opacity: 0.4;
}



#keyboard{
	margin-top: 30px;
	max-width: 600px;
	display: inline-block;
}

#keyboard button{
	background: transparent;
	cursor: pointer;
	color: white;
	padding: 5px 20px;
	border: 0;
	margin: 5px;
	font-size: 40px;
	display: inline-block;
	width: 30px;
	text-align: center;
}
#keyboard button.used{
	opacity: 0.5;
}